.title {
  color: #3cd594;
  font-weight: 700;
}

.title-about {
  height: 150px;
  background-color: #3cd594;
  background-size: cover;
  clip-path: polygon(0 0, 100% 1%, 86% 51%, 100% 100%, 0 100%, 14% 51%);
}

.color-fix {
  background-color: #eefbf4;
}
